<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Digitco</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">
<!-- bootstrap css -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" href="css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
<!-- loader  -->
<div class="loader_bg">
  <div class="loader"><img src="images/loading.gif" alt="#" /></div>
</div>
<!-- end loader --> 
<!-- header -->
<header> 
    <!-- header inner -->
    <div class="head-top">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="email"> <a href="#">Email : demo@gmail.com</a> </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="icon"> <i> <a href="#"><img src="icon/facebook.png"></a></i> <i> <a href="#"><img src="icon/Twitter.png"></a></i> <i> <a href="#"><img src="icon/linkedin.png"></a></i> <i> <a href="#"><img src="icon/google+.png"></a></i> </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="contact"> <a href="#">Contact :  +71  78908540</a> </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
          <div class="full custom-full">
            <div class="center-desk">
 <div class="logo"> <a href="index.html"><img src="images/Sky-view-logo.png" alt="logo"></a> </div>
            </div>
            <div class="menu__container">
              <i class="left-away__one"></i>
              <i class="left-away__two"></i>
              <i class="rise-left"></i>
              <i class="scale-right"></i>
            </div>
          </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
          <div class="menu-area">
            <div class="limit-box">
              <nav class="main-menu">
                <ul class="menu-area-main">
                  <li> <a href="index.html">Home</a> </li>
                  <li> <a href="aboutus.html">About</a> </li>
                  <li> <a href="faq.html"> faq</a> </li>
                  <li> <a href="login.html">login</a> </li>
                  <li class="active"> <a href="signup.html">signup</a> </li>
                  <li> <a href="#"><img src="images/search_icon.png" alt="#" /></a> </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end header inner --> 
  </header>
<!-- end header -->

<div class="Team-bg">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="abouttitle">
          <h2>sign up</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- state abouts -->
<div class="our experts">

<!-- signup form -->
<div class="Request">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage3">
            <h2>Create an <strong class="cur">Account</strong></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <form id="signup-form">
            <label for="name" class="custom-label">name</label>
            <br> <span class="error error-name cur"></span>
            <input class="form-control" placeholder="Full Name" type="Name"name="name">
            
            <label for="username" class="custom-label">username</label>
            <br> <span class="error-username cur"></span>
            <input class="form-control" placeholder="User Name" type="Name"name="username">
            
            <label for="email" class="custom-label">email</label>
            <br> <span class="error-email cur"></span>
            <input class="form-control" placeholder="Email" type="Email"name="email">
            
            <label for="" class="custom-label">password</label>
            <br> <span class="error-password cur"></span>
            <input class="form-control input-password" placeholder="Password" type="text"name="password">
           
            <label for="confirm password" class="custom-label">confirm password</label>
            <br> <span class="error-confirm_password cur error-confirm"></span>
            <input class="form-control input-confirm-password" placeholder="Confirm Password" type="text"name="confirmPassword">
           
            <button class="send-btn signup-btn">Sign up</button>
          </form>
          <br>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="Request-box">
            <figure><img src="images/Request.jpg" alt="img"/></figure>
            <div class="Register">
                <h3>Get started today widh digital money bitcon</h3>
                <p>consectetur adipiscing elit, sed do eiusmod tempor 
  incididunt ut labore et dolore magna aliqua. Ut enim </p>
                <a href="#">Register now</a>
            </div>
          </div>
        </div>
 
      </div>
    </div>
  </div>
</div>
<!-- end abouts -->
<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
          <div class="Contact">
            <h3>Contact Us</h3>
            <ul class="contant_icon">
              <li> <a href="#"><img src="icon/location.png"></a></li>
              <li> <a href="#"><img src="icon/tellephone.png"></a></li>
              <li> <a href="#"><img src="icon/email.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
          <div class="Social">
            <h3>Social links</h3>
            <ul class="socil_link">
              <li><a href="#"><img src="icon/fb.png"></a></li>
              <li><a href="#"><img src="icon/Tw.png"></a></li>
              <li> <a href="#"><img src="icon/lin.png"></a></li>
              <li> <a href="#"><img src="icon/insta.png"></a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
          <div class="newsletter">
            <h3>newsletter</h3>
            <input class="new" placeholder="Enter your email" type="Enter your email" >
            <button class="subscribe">subscribe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p>&copy; <span class="footer-date"></span> All Right Reserved </p>
    </div>
  </div>
</footer>
<!-- end footer --> 
<!-- Javascript files--> 
<script src="js/jquery.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap.bundle.min.js"></script> 
<script src="js/jquery-3.0.0.min.js"></script> 
<script src="js/plugin.js"></script> 

<!-- sidebar --> 
<script src="js/jquery.mCustomScrollbar.concat.min.js"></script> 
<script src="js/custom.js"></script>
<script src="js/custom2.js"></script>
</body>
</html>