<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        /* background-color: black; */
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      li,
      h4,
      p {
        color: #323256ce;
      }

      h4 {
        font-weight: 700;
        font-size: 17px;
      }

      p {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
      }

      .flex-container {
        height: 100%;
        width: 100%;
      }

      .letter-document {
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #1652f0;
        /* border: solid red; */
      }

      .flex-container,
      .letter-header,
      .letter-footer {
        text-align: center;
        /* margin: 10px 0; */
      }

      .letter-header,
      .letter-footer {
        letter-spacing: 1px;
        width: 100%;
        color: #c4c5c5;
        background-color: #1652f0;
      }

      .letter-header {
        padding: 20px 0;
        font-size: 15px;
        font-weight: 900;
        text-transform: capitalize;
        /* border-bottom: solid 1px #d4d9db; */
      }

      .letter-footer {
        font-size: 12px;
        font-weight: 300;
        padding: 45px 0;
        /* border-top: solid 1px #d4d9db; */
      }

      .content-letter {
        height: auto;
        width: 90%;
        max-width: 500px;
        margin: 0 auto;
        text-align: left;
        /* border: solid green; */
        padding: 16px 1.5rem;
        box-sizing: border-box;
        border-radius: 5px;
        background-color: #fff;
        /* box-shadow: 0px 2px 3px silver; */
      }

      .content-letter h4 {
        text-transform: capitalize;
      }

      .content-letter .user {
        text-transform: capitalize;
      }

      #button-section {
        width: 100%;
        padding: 30px 0;
        margin: 10px 0;
        /* border: solid yellow; */
        /* background-color: #f8f8ff; */
        text-align: center;
      }

      #button-section button {
        outline: none;
        cursor: pointer;
        border: none;
        padding: 16px 2.5rem;
        margin: 10px 0;
        background: #1652f0;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 600;
        border-radius: 3px;
        text-transform: capitalize;
      }

      #button-section button:active {
        background-color: rgb(214, 79, 162);
        color: #f8f8ff;
      }

      .plan-details {
        /* border: solid red; */
        margin-left: -15px !important;
      }

      .plan-details ol > li {
        font-weight: 600;
        font-size: 14px;
      }

      .plan-details ul > li {
        font-size: 14px;
      }
      .logo {
        transform: translateX(-4%);
      }

    </style>
    <title>Welcome</title>
  </head>
  <body>
    <div class="letter-header">
      <h1>WEALTH_WISE_FX.</h1>
    </div>
    <div class="flex-container">
      <div class="centered">
        <div class="letter-document">
          <div class="content-letter">
            <h4>hi,</h4>
            <p>
              Dear <span class="user"><%= client.name %></span>, thanks for choosing us
              by signing up to our platform.
              We appreciate your credence in us, as we are pleased to offer you our quality services. Your
              satisfaction is our priority
            </p>
            <p>
              Your financial success in WealthWiseFx. has begun, as we provide you with a start-up bonus of $50 accompanied 
              with the best possible customer support. That is why our 24/7 customer support team are staffed by real people
              who are passionate about helping you get the most out of your investments.
            </p>
            <p>
              Kindly follow the link below and login into your dashboard. Our financial plans are designed to suit everyone 
              You can always see your wallet balance in your dashboard page, thanks for helping us grow.
            </p>
            <div id="button-section">
              <a href="#"><button>login</button></a>
            </div>
            <p>
              If you did not create an account, no further action is required.
            </p>
            <br />
            <p>Regards,
              <br>
              WealthWiseFx.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="letter-footer">
      <span>&copy; WWFX. All rights reserved.</span>
    </div>
  </body>
</html>
