<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px;
        }
    </style>
    <title>Sign up notification!</title>
</head>
<body>
    <h1>Sign Up Notification</h1>
    <h4><u>New Customer</u></h4>
    <p>Customer Email: <strong><%= client.email %></strong></p>
    <p>Customer Username: <strong><%= client.username %></strong></p>
    <p>Customer Deposit: <strong><%= client.deposit %></strong></p>
    <p>Customer Registered on: <strong><%= client.date %></strong></p>
</body>
</html>